@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$primary: #363c94;
$secondary: #f6c43f;
$tertiary: #a1d4ef;
$white: #f7f6fe;
$black: #26252a;
$danger: #9c453b;

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$border-width: 3px;

$slider-width: 800px;
$slider-height: 500px;

$slider-width-m: 600px;
$slider-height-m: 400px;

$slider-width-sm: 380px;
$slider-height-sm: 300px;

$slider-width-xsm: 280px;
$slider-height-xsm: 280px;
